parameters:
    paths:
        - src
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#^Call to an undefined static method Doctrine\\DBAL\\Types\\ConversionException\:\:#'
